<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>



        <div class="container">
            <% if (errorMessage.length> 0) { %>

                <div class="row justify-content-center text-center">
                    <p class="alert alert-info col-4" role="alert">
                        <%= errorMessage %>
                    </p>
                </div>

                <% } %>

                    <form action="/reset" method="post" class="needs-validation" novalidate>
                        <div class="row justify-content-center text-center mt-5">
                            <div class="col-5">
                                <div class="form-floating mb-3">
                                    <input type="email"
                                        class="form-control <%= validationErrors.find(e => e.path === 'email') ? 'invalid': '' %>"
                                        name="email" id="email" placeholder="Enter your email.."
                                        value="<%= oldInput.email %>">
                                    <label for="email">Email</label>
                                    <% if (validationErrors.find(e=> e.path === 'email')) { %>
                                        <% validationErrors.forEach(e=> {
                                            if(e.path === 'email') {
                                            emailError = e.msg;
                                            }
                                            }) %>
                                            <p style="font-size: 90%; color: brown;">
                                                <%= emailError %>
                                            </p>
                                            <% } %>
                                </div>
                                <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
                                <button type="submit" class="btn btn-success">Reset Password</button>
                            </div>

                        </div>

                    </form>
        </div>

        <%- include('../includes/end.ejs') %>