<%- include('includes/head.ejs') %>
    <%- include('includes/navigation.ejs') %>



        <div class="container">
            <% if (errorMessage.length> 0) { %>
                <div class="row justify-content-center text-center">
                    <p class="alert alert-info col-3" role="alert">
                        <%= errorMessage %>
                    </p>
                </div>
                <% } %>

                    <form action="<% if (editing) { %>/edit-thing/<%= thing._id %> <% } else { %>/add-thing <% }%> %>"
                        method="post" class="needs-validation">
                        <div class="row justify-content-center text-center mt-5">
                            <div class="col-6">
                                <h1>
                                    <% if (editing){ %> Edit A Thing <%} else { %> Add A Thing <% }%>
                                </h1>
                                <div class="form-floating mb-3">
                                    <select
                                        class="form-select <%= validationErrors.find(e => e.path === 'category') ? 'invalid': '' %>"
                                        name="category" id="floatingSelect" aria-label="Floating label select example">
                                        <option value="movies" <% if(thing.category==='movies' ){ %>selected <%} %>
                                                >Movies
                                        </option>
                                        <option value="tv-shows" <% if(thing.category==='tv-shows' ){ %>selected <%} %>
                                                >TV Shows
                                        </option>
                                        <option value="books" <% if(thing.category==='books' ){ %>selected <%} %>>Books
                                        </option>
                                        <option value="songs" <% if(thing.category==='songs' ){ %>selected <%} %>>Songs
                                        </option>
                                    </select>
                                    <label for="floatingSelect">Choose a category</label>
                                    <% if (validationErrors.find(e=> e.path === 'category')) { %>
                                        <% validationErrors.forEach(e=> {
                                            if(e.path === 'category') {
                                            categoryError = e.msg;
                                            }
                                            }) %>
                                            <p style="font-size: 90%; color: brown;">
                                                <%= categoryError %>
                                            </p>
                                            <% } %>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text"
                                        class="form-control <%= validationErrors.find(e => e.path === 'name') ? 'invalid': '' %>"
                                        name="name" id="name" placeholder="example@test.com"
                                        value="<%= editing || errorMessage ? thing.name: '' %>">
                                    <label for="name">Name</label>
                                    <% if (validationErrors.find(e=> e.path === 'name')) { %>
                                        <% validationErrors.forEach(e=> {
                                            if(e.path === 'name') {
                                            nameError = e.msg;
                                            }
                                            }) %>
                                            <p style="font-size: 90%; color: brown;">
                                                <%= nameError %>
                                            </p>
                                            <% } %>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea
                                        class="form-control form-control <%= validationErrors.find(e => e.path === 'comment') ? 'invalid': '' %>"
                                        name="comment" id="floatingTextarea2" style="height: 100px"
                                        placeholder="good bless you"><%= editing || errorMessage ? thing.comment : '' %></textarea>
                                    <label for="floatingTextarea2">type a comment..</label>
                                    <% if (validationErrors.find(e=> e.path === 'comment')) { %>
                                        <% validationErrors.forEach(e=> {
                                            if(e.path === 'comment') {
                                            commentError = e.msg;
                                            }
                                            }) %>
                                            <p style="font-size: 90%; color: brown;">
                                                <%= commentError %>
                                            </p>
                                            <% } %>
                                </div>
                                <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </div>


                    </form>
        </div>

        <%- include('includes/end.ejs') %>